<h1><a href="{{ url('aocs', {'vignobleId': vignoble.getId} ) }}">AOCs du {{ vignoble.getName }}</a></h1>
<p><a href="{{ url('homepage') }}">Index</a></p>
<hr/>
{% include 'OpenWinesWebAppBundle:Default/fragments:vineyard_link.html.twig' %}
{% include 'OpenWinesWebAppBundle:Default/fragments:aocs_list.html.twig' %}

