{% if  0 < apis|length %}
    <ul>
    {% for item in apis %}
        <li>{{ item.label }}: <a href="{{ item.href }}">{{ item.href }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ 'No APIs found'|trans }}</p>
{% endif %}
