{% set URL = url( 'vignoble', {'id': vignoble.getId} ) %}
<h1><a href="{{ URL }}">{{ vignoble.getName }}</a></h1>
<p><a href="{{ url('homepage') }}">Index</a></p>
{% include 'OpenWinesWebAppBundle:Default/fragments:vineyards_link.html.twig' %}
<hr/>
<p>Description : {{ vignoble.getDescription }}</p>
{% include 'OpenWinesWebAppBundle:Default/fragments:aocs_list.html.twig' %}
{% include 'OpenWinesWebAppBundle:Default/fragments:more.html.twig' with {resource: vignoble} %}
