# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
!app/cache/.gitkeep
!app/logs/.gitkeep
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Other
/build/
/bin/
/.idea/

